#a1{
    height: 350px;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}
img{
    display: block;
    min-width: 100px;
    min-height: 100px;
}
#i1,#i2,#i3,#i4{
    width: 100%;
    height: 100%;
}
#i2{
    flex-grow: 3;
}

#a2{
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: aqua;
}
.box{
    flex-grow: 1;
    border: 3px solid blue;
}
.box1{
    flex-grow: 2;
    border: 3px solid blue;
}
.box2{
    flex-grow: 5;
    border: 3px solid blue;
}